/*
источник бесцеремонно сп. карусельки!
https://itchief.ru/html-and-css/aspect-ratio
*/



.item-responsive {
  position: center; /* относительное позиционирование */
}
.item-responsive:before {
  display: block; /* отображать элемент как блок */
  content: ""; /* содержимое псевдоэлемента */
  width: 100%; /* ширина элемента */
}
.item-16by9 {
  padding-top: 543px; /* (9:16)*100% */
}
.item-responsive>.content {
  position: absolute; /* абсолютное положение элемент */
  /* положение элемента */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover !important;
}  
.carousel{
  height: 543px;
}
.content{
  height: 543px;
}