.services{
	display: flex;
	justify-content: center;
}
.services-title{
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%px;
	margin-left: 20px;
}
.services-content-block{

}
.services-content-main{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 1580px;
	margin-bottom: 55px;
}
.services-content{
	width: 370px;
	height: 493px;
	margin-top: 27px;
	margin-bottom: 37px;
	margin-left: 15px;
	margin-right: 15px;
	background-color: #e5e5e7;
}
.services-content img{
	margin-top: 22px;
	margin-left: 22px;
	margin-right: 22px;
}
.services-content p{
	width: 318px;
}
.services-content-big-text{
	margin-top: 22px;
	margin-left: 22px;
	font-size: 20px;
	line-height: 20px;
	color: #4a4a4a;
	font-weight: 400;
	font-family: "open-sans;";
}
.services-content-text{
	margin-top: 22px;
	margin-left: 22px;
	font-size: 14px;
	line-height: 20px;
	color: #878787;
	font-weight: 400;
	font-family: "open-sans";
}
.read-more{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: center;
	width: 100px;
	height: 40px;
	margin-top: 25px;
	margin-left: 22px;
	background: #fdc903;
}
.read-more a{
	color: #ffffff;
}